<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/cloud.js"></script>
 </head>
  <body>
    <h1><a href="/" target="_self"><%= title %></a></h1>
    <p>Columbia University Graduate School of Architecture, Planning and Preservation</p>


	<div id="main">
		<div id="grid-repos">
			<% if (err != null) { %>
				<%= err %>
			<% }else{ %>
				<% for(var i=0; i < repos.length; i++) {%>
					<div class="repo" id="<%= repos[i].id %>">
						<a href="/repo/<%= repos[i].name %>">
							<div class="overlay">
								<div class="screenshot">
									<% if (repos[i].cloudinfo != null) { %>
										<img class="repo_thumb" src="https://raw.github.com/columbiagsapp/<%= repos[i].name %>/master/<%= repos[i].cloudinfo.thumbnail %>" >
									<% }else{ %>
										<img class="repo_thumb" src="https://raw.github.com/columbiagsapp/<%= repos[i].name %>/master/screenshot.png" >
									<% } %>
								</div>
							</div>
							<div class="repo_inner">
								<div class="name"><%= repos[i].name %></div>
									<div class="description"><%= repos[i].description %></div>
								<!-- <div class="stars"><%= repos[i].stars %></div>
								<div class="forks"><%= repos[i].forks %></div> -->

							</div>
						</a>
					</div>
				<% } %>
			<% } %>

		</div>

	</div>









  </body>
</html>
